/* For Extra Small Devices */

@media (min-width:0px) {
    .r-heading-3{
        font-size: 1.6rem;
    }
    .r-heading-2{
        font-size: 1.5rem;
    }
    .r-heading-1{
        font-size: 2.3rem;
    }
    .text{
        font-size: 1rem;
    }

       h3.edexlb{
    color: var(--btn-bg-clr);
   }


       a.wa-btn{
        right: 1rem;
        height: 3rem;
        width: 3rem;
    }

    a.wa-btn i{
    font-size: 1.5rem;
}



    header div.container div.logo img{
        max-height: 3.5rem;
    }

    section.heading h2{
        font-size: 2rem;
    }



    section.heading{
        height: 35vh;
        padding: 4rem 0;
    }




    

   
   
   img.footer-logo{
    max-width: 17.5vw;
   }


div.contact-text h3{
    font-size: 2rem;
}

   footer.container-fluid div.container div.d-flex h2{
    font-size: 1.6rem;
    line-height: 1.9rem;   
   }




}











/* For Small Devices */


@media (min-width:575px) {


    section.heading{
        height: 25vh;
        padding: 4rem 0;
    }

   



 



      img.footer-logo{
    max-width: 12.5vw;
   }

    footer.container-fluid div.container{
    padding: 0 0 4rem;
   }

  


    
}


/* For Medium Devices */


@media (min-width:768px) {



    .r-heading-3{
        font-size: 1.8rem;
    }
    .r-heading-2{
        font-size: 1.5rem;
    }
    .r-heading-1{
        font-size: 2.5rem;
    }
    .text{
        font-size: 1rem;
    }

    a.wa-btn{
        right: 2rem;
        height: 4rem;
        width: 4rem;
    }

    a.wa-btn i{
    font-size: 2.5rem;
}

    

   footer.container-fluid div.container div.d-flex h2{
    font-size: 2.6rem;
    line-height: 3rem;
}






}


/* For Desktop Site in Chrome in Small Devices */


@media (min-width:980px) {

    img.footer-logo{
    max-width: 8vw;
   }

}



/* For Large Devices */


@media (min-width:992px) {
    .r-heading-3{
        font-size: 1.8rem;
    }
    .r-heading-2{
        font-size: 1.5rem;
    }
    .r-heading-1{
        font-size: 2.5rem;
    }
    .text{
        font-size: 1rem;
    }

    header div.container div.logo img{
    max-height: 3.5rem;
    }

        a.wa-btn{
        right: 2rem;
        height: 3rem;
        width: 3rem;
    }

    a.wa-btn i{
    font-size: 1.5rem;
}

    header div.container div.labels label i {
        font-size: 1.6rem;
    }


    section.heading{
        height: 45vh;
        padding: 4rem 0;
    }

    section.heading h2{
        font-size: 2.5rem;
    }

 



   footer.container-fluid div.container div.d-flex h2{
    font-size: 3.1rem;
    line-height: 3.9rem; 
   }




    footer.container-fluid div.container{
    padding: 0 0 6rem;
   }


}




/* For Extra Large Devices */


@media (min-width:1200px) {

    header div.container div.logo img{
    max-height: 3.5rem;
    }

    header div.container div.labels label i {
            font-size: 1.6rem;
    }


  





}
