/* Sidebar Style  */


:root img.logo-dark { 
    display: none; 
}
:root img.logo-light { 
    display: inline-block; 
}

/* Dark Mode: Switch visibility */
:root.dark-mode img.logo-light { 
    display: none; 
}
:root.dark-mode img.logo-dark { 
    display: inline-block; 
}

div.sidebar{
    top: 0;
    left: -100%;
    position: fixed;
    z-index: 1100;
    background-color: var(--text-clr);
    transition: all ease 0.5s;
    padding: 1.5rem;
    
}
div.shadow {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1100;
    opacity: 0;
    pointer-events: none;
    transition: all ease 0.5s;
}

div.shadow:hover{
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><line x1='3' y1='3' x2='21' y2='21' stroke='white' stroke-width='2' stroke-linecap='round'/><line x1='21' y1='3' x2='3' y2='21' stroke='white' stroke-width='2' stroke-linecap='round'/></svg>") 12 12, crosshair;
}



div.sidebar div.icons a{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--transparent);
    margin-right: 0.5em;
    transition: all ease 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

div.sidebar div.icons a i{
    color: var(--icon-dark-clr);
    font-size: 1rem;
    z-index: 3;
}
div.sidebar div.icons a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--btn-bg-clr);
    z-index: 2;
    transition: all ease 0.5s;
    transform: scale(0);
}

div.sidebar div.icons a:hover::after{
    transform: scale(1);
}
div.sidebar div.icons a:hover i{
    color: var(--icon-light-clr);
}
div.sidebar div.sidebar-head label{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
    /* transition: all ease 0.5s; */
    background: var(--transparent);
    position: relative;
    z-index: 1;
}

div.sidebar div.sidebar-head label::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 0.5s;
    background: var(--btn-bg-clr);
    transform: scale(0);
    z-index: 2;
}
div.sidebar div.sidebar-head label i{
    font-size: 1.6rem;
    color: var(--header-font-clr);
    z-index: 3;
}
div.sidebar div.sidebar-head label:hover i{
    color: var(--text-clr);
}

div.sidebar div.sidebar-head label:hover::after{
    transform: scale(1);
}
div.sidebar div.menu div.tab-border{
    width: 100%;
    height: auto;
    border-top: 1px solid var(--border);
    padding: 0.4rem 0;
}

div.sidebar div.menu div.tab-border a{
    font-size: 1.2rem;
}

div.sidebar div.ci a.ci-bg{
    min-width: 2.5rem;
    height: 2.5rem;
    background: var(--transparent);
    transition: all ease 0.5s;
    z-index: 1;
    position: relative;
    overflow: hidden;
    transition: all ease 0.5s;
}
div.sidebar div.ci a.ci-bg::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--btn-bg-clr);
    z-index: 2;
    transition: all ease 0.5s;
}

div.sidebar h4.fmw{
    color: var(--header-font-clr);
}

div.sidebar div.ci a.ci-bg i{
    color: var(--header-font-clr);
    font-size: 1.5rem;
    z-index: 3;
}
div.sidebar div.ci:hover a.ci-bg::after{
    top: 0;
}
div.sidebar div.ci:hover i{
    color: var(--text-clr);
}
div.sidebar div.ci-text h4{
    font-size: 1.2rem;
    color: var(--header-font-clr);
    font-weight: 500;
}
div.sidebar div.ci-text h4 a{
    color: var(--header-font-clr);
}



.shadow-close-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

#A:checked ~ label.shadow-close-btn div.shadow {
    opacity: 1;
    pointer-events: auto;  /* Enable interaction */
    top: 0;
    left: 0;
    z-index: 1100;
}

#B:checked ~ label.shadow-close-btn div.shadow{
    opacity: 0;
}


#A:checked ~ div#sidebar-placeholder div.sidebar{
    left: 0;
}
#B:checked ~ div.sidebar{
    left: -100%;
}
@media (min-width:0px){
    div.sidebar{
        width: 75%;
    }
}
@media (min-width:576px){
    div.sidebar{
        width: 50%;
    }
}
@media (min-width:768px){
    div.sidebar{
        width: 45%;
    }
}
@media (min-width:992px){
    div.sidebar{
        width: 25%;
    }
}
@media (min-width:1200px){
    div.sidebar{
        width: 25%;
    }
}

/* Sidebar Style End  */
