/*Basic Style Start */


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

    html, body {
    overflow-x: clip;
    position: relative;
    background: var(--text-clr);
}

body {
    font-family: "Rajdhani", sans-serif!important;

}

a.wa-btn{
    bottom: 2rem;
    background: var(--transparent-bg-clr);
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
    position: relative;
}

a.wa-btn::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    animation:progress linear;
    animation-timeline: scroll(root);
    background: var(--btn-bg-clr);
    transform: translateY(100%);
}

@keyframes progress{
    to{
        transform: translateY(0);
    }
}


a.wa-btn i{
    color: var(--header-font-clr);
    pointer-events: none;
    z-index: 3;
}


/* The line Effect Code Start */


.the-line{
   color: var(--header-font-clr);
   position: relative;
   transition: ease-in 0.15s, ease-out 0.25s; 
}

.the-line:hover{
    color: var(--btn-bg-clr);
}

.the-line::after{
    content:"";
    position: absolute;
    right:0;
    bottom:0;
    width: 0;
    height: 2px;
    background-color: var(--btn-bg-clr);
    transition: ease-in 0.15s, ease-out 0.25s;
}

.the-line:hover::after{
    width: 100%;
    left:0;
}


/* The line Effect Code End */

/* The Grow Effect Code Start  */

.grow{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background: var(--transparent);
    margin-right: 0.5em;
    transition: all ease 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.grow-i{
    color: var(--header-font-clr);
    font-size: 1rem;
    z-index: 3;
}
.grow::after{
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--btn-bg-clr);
    transition: all ease 0.5s;
    transform: scale(0);
}
.grow:hover::after{
    transform: scale(1);
}
.grow:hover .grow-i{
    color: var(--text-clr);
}






div.loader-container{
    top: 0;
    left: 0;
    background: var(--text-clr);
    z-index: 9999;
    transition: opacity 0.5s ease;
    pointer-events: none;
}


  .loader {
    position: relative;
    width: calc(var(--loader-size) * 0.51);
    height: calc(var(--loader-size) * 0.51);
  }

  .dot {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    height: 100%;
    width: 25%;
    transform-origin: center top;
  }

  .dot::after {
    content: '';
    display: block;
    width: 100%;
    height: 25%;
    border-radius: 50%;
    background-color: var(--btn-bg-clr);
    transition: background-color 0.3s ease;
  }

  .dot:first-child {
    animation: swing var(--loader-speed) linear infinite;
  }

  .dot:last-child {
    animation: swing2 var(--loader-speed) linear infinite;
  }

  @keyframes swing {
    0% {
      transform: rotate(0deg);
      animation-timing-function: ease-out;
    }

    25% {
      transform: rotate(70deg);
      animation-timing-function: ease-in;
    }

    50% {
      transform: rotate(0deg);
      animation-timing-function: linear;
    }
  }

  @keyframes swing2 {
    0% {
      transform: rotate(0deg);
      animation-timing-function: linear;
    }

    50% {
      transform: rotate(0deg);
      animation-timing-function: ease-out;
    }

    75% {
      transform: rotate(-70deg);
      animation-timing-function: ease-in;
    }
  }


/* The Grow Effect Code End  */




:root {
    --header-font-clr: rgba(20,20,20);
    --text-clr: #ffffff;
    --btn-bg-clr: rgba(255, 0, 0);
    --btn-bg-light-clr: rgba(255, 0, 0, 0.1);
    --hero-bg-clr: rgba(43, 16, 22);
    --project-sum-bdr:rgb(254, 220, 222);
    --about-bg-clr:rgb(67, 20, 23);
    --box-shadow-clr: rgba(0, 0, 0, 0.5);
    --heading-clr:rgba(237, 228, 228, 1);
    --gradient-text: linear-gradient(120deg,rgba(0, 0, 0,0),rgba(255, 0, 0, 0.5));
    --placeholder-text-clr:rgba(117, 117, 118);
    --transparent:#e7e7e7;
    --description-clr:#5d6570;
    --invisible: rgba(0,0,0,0);
    --transparent-bg-clr:rgba(0,0,0,0.1);
    --content-bg:#F2F2F2;
    --progressbar-bg:#f4f4f4;
    --border: #d9dde0;
    --heading-section-clr:rgb(237, 237, 237);
    --icon-dark-clr:rgba(20,20,20);
    --icon-light-clr:rgba(255,255,255);
    --bg-image: url("../Images/Background.png");
    --label-border: 2px;
    --loader-size: 78px;
    --loader-speed: 1.4s;
    --moon:#F6F1D5;
    --sun:#FFA500 ;
    --theme-btn-bg:rgb(24, 24, 24);
    transition: all ease 1s;
}

/* For Dark Mode  */
:root.dark-mode {
    --header-font-clr: rgba(235,235,235);
    --text-clr: rgb(0, 0, 0);
    --btn-bg-clr: rgba(255, 0, 0);
    --btn-bg-light-clr: rgba(255, 0, 0, 0.25);
    --hero-bg-clr: rgba(212, 239, 233);
    --project-sum-bdr:rgb(56, 65, 61);
    --about-bg-clr:rgb(188, 235, 232);
    --box-shadow-clr: rgba(255, 255, 255, 0.5);
    --heading-clr:rgba(18, 27, 27, 1);
    --gradient-text: linear-gradient(120deg,rgba(0, 0, 0,0),rgba(255, 0, 0, 0.5));
    --placeholder-text-clr:rgba(138, 138, 137);
    --transparent:rgb(24, 24, 24);
    --description-clr:rgb(162, 154, 143);
    --invisible: rgba(0,0,0,0);
    --transparent-bg-clr:rgba(255,255,255,0.25);
    --content-bg:rgb(20, 20, 20);
    --progressbar-bg:rgb(11, 11, 11);
    --border: rgb(38, 34, 31);
    --heading-section-clr:rgb(18, 18, 18);
    --icon-dark-clr:rgba(255,255,255);
    --icon-light-clr:rgba(255,255,255);
    --bg-image: url("../Images/Background-Dark.png");
    --label-border: 2px;
    --loader-size: 78px;
    --loader-speed: 1.4s;
    --moon:#F6F1D5;
    --sun:#FFA500 ;
    --theme-btn-bg:#e7e7e7;
    transition: all ease 1s;
}

/* Basic Style End */



/* Heading Section Style Start */


section.heading {
    background: var(--heading-section-clr);
    
}


    section.heading h2{
        font-weight: 700;
        color: var(--header-font-clr);
    }

    div.heading-links a{
        font-size: 1rem;
        color: var(--description-clr);
        transition: all ease 0.5s;
    }
    div.heading-links i{
        font-size: 1rem;
        color: var(--description-clr);
    }
    div.heading-links a.the-link{
        font-size: 1rem;
        color: var(--btn-bg-clr);
    }
    div.heading-links a:hover{
        color: var(--btn-bg-clr);
    }





    .btn-1{
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;   
    font-weight: 500;
    background: transparent;
    color: var(--text-clr);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all ease 0.5s;
    position: relative;
    overflow: hidden;
    z-index: 3;
    }

    .btn-1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--btn-bg-clr);
    z-index: -1;
    border-radius:50px;
    transition: all ease 0.5s;
    }
    .btn-1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    background: var(--text-clr);
    z-index: -1;
    border-radius:50px;
    transition: all ease 0.5s;    
    }

    .btn-1:hover{
    color: var(--btn-bg-clr);
    transform: translateX(10px);
    box-shadow: 0 0 20px var(--box-shadow-clr);
    }
    .btn-1:hover::before{
    left: 100%;
    }
    .btn-1:hover::after{
    right: 0;
    }





/* Heading Section Style End */


 .text-appear{
    animation: text-appear both;
    animation-timeline: view();
    animation-range: entry 40% cover 50%;
 }

@keyframes text-appear{
    from{
        opacity:0;
        transform: translateY(100px) scale(0.8);
    }
    to{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

 




      /* Terms and Conditions Style Start  */


section.tac{
    padding: 4rem 0;
}

section.tac h2{
    color: var(--header-font-clr);
}
section.tac h4{
    color: var(--header-font-clr);
}
section.tac p{
    color: var(--header-font-clr);
}

section.tac ol li{
    color: var(--header-font-clr);
    font-size: 1.5rem;
}

/* Override browser autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    /* Changes the text color to white to match your theme */
    -webkit-text-fill-color: var(--header-font-clr);
    
    /* Makes the background transparent by delaying the browser's color change indefinitely */
    transition: background-color 9876543210s ease-in-out 0s;
}


 


   /* Terms and Conditions Style End  */
  

   

  



  


