
  <footer class="container-fluid">
    <div class="container">
      <div class="row align-items-center g-4 g-lg-5">
      <div class="col-12 col-sm-12 col-lg-5 ms-3 ms-md-0">
        <div class="d-flex flex-column">
        <img src="./Images/Logo.png" alt="Logo" class="img-fluid m-3 footer-logo logo-light">
        <img src="./Images/Logo white.png" alt="Logo" class="img-fluid m-3 footer-logo logo-dark">
        <h2 class="m-3"><span>Get Ready</span> To Create Great</h2>
        <form id="emailForm" class="pb-3 m-3 d-flex flex-row align-items-center justify-content-between">
          <input id="e-mail" name="email" type="email" placeholder="Your Email" class="ps-2 w-100" required>
          <button type="submit"><i class="fa-regular fa-envelope"></i></button>
        </form>
      </div>
      </div>
      <div class="fql col-12 col-sm-12 col-md-6 col-lg-3 ms-4 ms-md-0">
        <div class="d-flex flex-column justify-content-center align-items-start align-items-md-center">
          <div class="d-flex flex-column justify-content-center align-items-start">
            <h4 class="mb-4">Quick Links</h4>
        <div class="menu d-flex flex-column justify-content-start align-items-start">
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam/" class="text-decoration-none the-line">Home</a>
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam-About/" class="text-decoration-none the-line">About</a>
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam-Services/" class="text-decoration-none the-line">Services</a>
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam-Blog/" class="text-decoration-none the-line">Blog</a>
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam-Projects/" class="text-decoration-none the-line">Projects</a>
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam-Contact/" class="text-decoration-none the-line">Contact</a>
      </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 ms-4 ms-md-0">
      <div class="d-flex align-items-start align-items-md-end flex-column justify-content-center">
        <div class="contact-info flex-column justify-content-center align-items-start mt-4 mb-4">
        <h4 class="mb-4">Contact</h4>
        <div class="ci d-flex flex-row align-items-center mt-2 mb-2 mx-0 ms-md-2">
        <a class="me-4 rounded-circle d-flex align-items-center justify-content-center text-decoration-none"><i class='bx bxs-phone contacts'></i></a>
        <h4 class="the-line">01700677444</h4>
      </div>
      <div class="ci d-flex flex-row align-items-center mt-2 mb-2 mx-0 mx-md-2">
        <a class="me-4 rounded-circle d-flex align-items-center justify-content-center text-decoration-none"><i class="fa-regular fa-envelope"></i></a>
        <h4 class="the-line"><a class="text-decoration-none" href="mailto:alamsajidul00@gmail.com">alamsajidul00@gmail.com</a></h4>
      </div>
      <div class="ci d-flex flex-row align-items-center mt-2 mb-2 mx-0 mx-md-2">
        <a class="me-4 rounded-circle d-flex align-items-center justify-content-center text-decoration-none"><i class='bx bxs-map contacts'></i></a>
        <h4 class="the-line"><a class="text-decoration-none" href="https://maps.app.goo.gl/hiZtREefeWqG77K5A">Momotaz Kabir Siddiqui Villa, Newmooring R/A, Boropol, Chattogram, Bangladesh.</a></h4>
      </div>
       <div class="icons d-flex flex-row mt-4">
        <a href="https://www.facebook.com/mohammed.sajidul.alam/" target="_blank" class="text-decoration-none grow">
          <i class='bx bxl-facebook social grow-i'></i>
        </a>
        <a href="https://www.linkedin.com/in/mohammed-sajidul-alam-153366357/" target="_blank" class="text-decoration-none grow">
          <i class='bx bxl-linkedin social grow-i'></i>
        </a>
        <a href="https://www.instagram.com/iam_mohammed_sajidul_alam/" target="_blank" class="text-decoration-none grow">
          <i class='bx bxl-instagram social grow-i'></i>
        </a>
        <a href="https://x.com/I_Am_M_SA" target="_blank" class="text-decoration-none grow"><i class='bx bxl-twitter social grow-i'></i>
        </a>
      </div>
      </div>
     
      </div>

      
      </div>
    </div>
    </div>
    <div class="container f-2 d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center">
      <div class="d-flex flex-row justify-content-center">
        <p class="m-0"><i class="fa-regular fa-copyright"></i><span>MSA</span> 2026 | All Rights Reserved</p>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center">
      <a href="https://en.wikipedia.org/wiki/Terms_of_service" target="_blank" class="text-decoration-none the-line mx-1">Terms and Conditions</a>
      <a href="https://en.wikipedia.org/wiki/Privacy_policy" target="_blank" class="text-decoration-none the-line mx-1">Privacy Policy</a>
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam-Contact/" class="text-decoration-none the-line mx-1">Contact Us</a>
      </div>
    </div>
  </footer>


