

<header class="transparent" id="header-1">

    <div class="container d-flex flex-row justify-content-between align-items-center">
      <div class="logo d-flex align-items-center justify-content-center">
        <img src="./Images/Logo.png" class="img-fluid logo-light" alt="Logo">
        <img src="./Images/Logo white.png" class="img-fluid logo-dark" alt="Logo">
      </div>

      <div class="menu mx-auto d-none d-xl-flex">
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam/" class="text-decoration-none"><span>Home</span></a>
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam-About/" class="text-decoration-none"><span>About</span></a>
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam-Services/" class="text-decoration-none"><span>Services</span></a>
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam-Blog/" class="text-decoration-none"><span>Blog</span></a>
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam-Projects/" class="text-decoration-none"><span>Projects</span></a>
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam-Contact/" class="text-decoration-none"><span>Contact</span></a>
    </div>

      <div class="labels d-flex">
        <div class="icons d-none d-md-flex">
          <a href="https://www.facebook.com/mohammed.sajidul.alam/" target="_blank" class="text-decoration-none grow">
          <i class='bx bxl-facebook social grow-i'></i>
        </a>
        <a href="https://www.linkedin.com/in/mohammed-sajidul-alam-153366357/" target="_blank" class="text-decoration-none grow">
          <i class='bx bxl-linkedin social grow-i'></i>
        </a>
        <a href="https://www.instagram.com/iam_mohammed_sajidul_alam/" target="_blank" class="text-decoration-none grow">
          <i class='bx bxl-instagram social grow-i'></i>
        </a>
        <a href="https://x.com/I_Am_M_SA" target="_blank" class="text-decoration-none grow"><i class='bx bxl-twitter social grow-i'></i>
        </a>
        </div>
              <button id="theme-toggle" class="d-flex flex-row align-items-center justify-content-center"><i class="fa-solid fa-moon icon-dark"></i><i class="fa-solid fa-sun icon-light"></i></button>
              <label for="A" class="ms-3"><i class="fa-solid fa-bars"></i><i class="fa-solid fa-bars-staggered"></i></label>
              
      </div>
    </div>
    
    

   </header>
  <header class="solid hidden" id="header-2">
  <div class="container d-flex flex-row justify-content-between align-items-center">
      <div class="logo d-flex align-items-center justify-content-center">
        <img src="./Images/Logo.png" class="img-fluid logo-light" alt="Logo">
        <img src="./Images/Logo white.png" class="img-fluid logo-dark" alt="Logo">
      </div>

      <div class="menu mx-auto d-none d-xl-flex">
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam/" class="text-decoration-none"><span>Home</span></a>
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam-About/" class="text-decoration-none"><span>About</span></a>
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam-Services/" class="text-decoration-none"><span>Services</span></a>
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam-Blog/" class="text-decoration-none"><span>Blog</span></a>
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam-Projects/" class="text-decoration-none"><span>Projects</span></a>
      <a href="https://sajid-arch.github.io/Mohammed-Sajidul-Alam-Contact/" class="text-decoration-none"><span>Contact</span></a>
    </div>

      <div class="labels d-flex">
        <div class="icons d-none d-md-flex">
          <a href="https://www.facebook.com/mohammed.sajidul.alam/" target="_blank" class="text-decoration-none grow">
          <i class='bx bxl-facebook social grow-i'></i>
        </a>
        <a href="https://www.linkedin.com/in/mohammed-sajidul-alam-153366357/" target="_blank" class="text-decoration-none grow">
          <i class='bx bxl-linkedin social grow-i'></i>
        </a>
        <a href="https://www.instagram.com/iam_mohammed_sajidul_alam/" target="_blank" class="text-decoration-none grow">
          <i class='bx bxl-instagram social grow-i'></i>
        </a>
        <a href="https://x.com/I_Am_M_SA" target="_blank" class="text-decoration-none grow"><i class='bx bxl-twitter social grow-i'></i>
        </a>
        </div>
              <button id="theme-toggle" class="d-flex flex-row align-items-center justify-content-center"><i class="fa-solid fa-moon icon-dark"></i><i class="fa-solid fa-sun icon-light"></i></button>
              <label for="A" class="ms-3"><i class="fa-solid fa-bars"></i><i class="fa-solid fa-bars-staggered"></i></label>
      </div>
    </div>
  </header> 

